# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# Keep Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Spring Boot
# =========================
spring.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Application Secrets
# =========================
application-local.properties
application-secret.properties

# =========================
# Test Reports
# =========================
surefire-reports/
failsafe-reports/
TEST-*.xml
*.txt

# =========================
# Compiled Files
# =========================
*.class

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.temp